.card{
    margin-top: 2rem;
}

.topCard:nth-child(5){
    margin-bottom: 2rem;
}

.card-header{
    text-align: center;
    background-color: #0074c7;
    color: #f1f8fc;
}

.card-body{
    background-color: #f1f8fc;
}

.card-tuto{
    margin-top: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #82b864;
}

.contArtisans{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0.2rem solid #00497c;
    background-color: white;
    border-bottom: none;
    border-right: none;
    border-left: none;

}

span{
    color: #82b864;
}

.carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-inner{
    background-color: #384050;
    margin-top: 1rem;
}

.carousel-item, .carousel-item p{
    color: #f1f8fc;
    text-align: center;
    margin-top: 1.5rem;
}

.indicator{
    width: 3rem;
    margin-right: 0.2rem;
}

@media (min-width: 768px){

    .topCard{
        width: 30rem;
    }
    
    .topArtisans{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .carousel-inner{
        width: 30rem;
        height: 8rem;
    }
}