.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 0.4rem solid #00497c;
    border-radius: 15px;
    margin: 2rem auto;

}

.about{
    margin-bottom: 2rem;
}

@media (min-width: 768px){
    .about{
        width: 30rem;
    }
}