.card{
    margin-top: 2rem;
}

.topCard:nth-child(5){
    margin-bottom: 2rem;
}

.card-header{
    text-align: center;
    background-color: #0074c7;
    color: #f1f8fc;
}

.card-body{
    background-color: #f1f8fc;
}

.card-tuto{
    margin-top: 2rem;
    border: 0.4rem solid #00497c;
    border-radius: 15px;
    background-color: white;
}

h1{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #82b864;
}

.contArtisans{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0.4rem solid #00497c;
    border-radius: 15px;
    background-color: white;

}
.tuto:nth-last-child(1n){
    margin-bottom: 2rem;
}

span{
    color: #82b864;
}

@media (min-width: 768px){
    .topCard{
        width: 30rem;
    }
    
    .topArtisans{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .tuto{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .tutorial{
        width: 30rem;
        height: 10rem;
    }
}