@font-face{
  font-family: 'graphik-bold', sans-serif;
  src: url(../public/font/Graphik-Bold-Trial.otf);
}
@font-face {
  font-family: 'graphik-regular', sans-serif;
  src: url(../public/font/Graphik-Regular-Trial.otf);
}

*{
  border: 1px solid red;
  font-family: 'graphik-regular';
  color: #00497c;
  font-weight: bold;
}